@CHARSET "ISO-8859-1";

.linkpos 
{
	position: absolute;
	left:5px;
	top:200px;
   
}
	.test {
	color: aqua;
	}
.cb 
{
display: inline-block;
}

.tdchk
{
	
	width:150px;
	height: 100px;
}

.circle 
{
	
	
	width: 100px;
    height: 100px;
   
}
